{% load static %}

<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Mayday_blog</title>
    <link type="text/css" href="{% static 'countries/css/styles.css' %}" rel="stylesheet"/>
    <meta name="description" content="Описание страницы"/>
</head>

<body>

<div class="header">

</div>

<div class="menu_and_content">
    <div class="menu">

    </div>

    <div class="content">
        <div class="blog_record>">
            <h3>Черные дыры</h3>
            <p> Мы знаем, что современная гуманитарная мысль обращает внимание на устройство вселенной. Эта проблем была
                в центре интересах философии еще в древности, к примеру, мир как единство рассматривал натур философ
                античности Фалес Милетский. Также в классической философии Платон рассматривал мир, как стоящий в центре
                мира окруженный девятью сферами. Изучая все это, мы решили углубиться в мир космоса и затронуть тему о
                таких объектах, как Черные дыры. </p>

        </div>
        <div class="blog_record>">
            <h3>Квазары</h3>
            <p> Кваза́р (англ. quasar) — класс астрономических объектов, являющихся одними из самых ярких (в абсолютном
                исчислении) в видимой Вселенной. Английский термин quasar образован от слов quasi-stellar
                («квазизвёздный» или «похожий на звезду») и radiosource («радиоисточник») и дословно означает «похожий
                на звезду радиоисточник».</p>
        </div>
        <div class="blog_record>">
            <h3>Красные гиганты</h3>
            <p> Кра́сный гига́нт — звезда поздних спектральных классов с высокой светимостью и протяжёнными оболочками.
                Примерами красных гигантов являются Арктур, Альдебаран, Гакрукс и Мира A. Наиболее распространенными
                красными гигантами являются звезды, находящиеся на диаграмме Герцшпрунга — Рассела вблизи конца так
                называемой ветви красных гигантов (в английской терминологии: RGB, red giant branch), но продолжающие
                процесс слияния водорода в гелий в оболочке, окружающей вырожденное гелиевое ядро.</p>
        </div>
        <div class="blog_record>">
            <h3>Бозоны</h3>
            <p> Все частицы стандартной модели можно разделить на две основные группы: фермионы и бозоны. Из фермернов
                состоит весь окружающий нас мир, поскольку ими являются кварки и лептоны. Из кварков складываются все
                протоны и нейтроны, которые в свою очередь складываются в атомные ядра. Одним из лептонов является
                электрон, который вместе с атомными ядрами образует атомы, из которых состоит все вокруг и мы с вами. Но
                если весь мир построен из фермионов, то какую роль в природе играют бозоны? </p>
        </div>

    </div>
</div>

<div class="footer">

</div>

</body>
</html>