{% load static %}

<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Mayday_blog</title>
    <link type="text/css" href="{% static 'countries/css/styles.css' %}" rel="stylesheet" />
    <meta name="description" content="Описание страницы" />
  </head>

  <body>
    <header>
      Шапка
      <nav>
        Навигация
      </nav>
    </header>
    <main>
      <section>
        <h1>Заголовок страницы</h1>
        Основная часть
      </section>
    </main>
    <aside>
      Боковая колонка (сайдбар)
    </aside>
    <footer>
      <p>E-mail: pps.mayday@gmail.com</p>
      <p class="copyright"> Copyrighing by Sazonov Pavel</p>
    </footer>
  </body>
</html>