{% extends "ai_posts/includes/base.html" %}
{% load static %}

{% block additional %}
<link rel="stylesheet" href="{% static 'ai_posts/css/about.css' %}"/>
{% endblock %}

{% block content %}
<main class="content">
	<div class="about-content">
		<img src="{% static 'ai_posts/images/about_avatar.jpg' %}" align="center">
		<p>	Меня зовут Павел, я начинающий Python разработчик и этот сайт был сделан в
			рамках учебного проекта. Нейросети все активнее инегрируются в нашу жизнь поэтому мне стало
			интересно посмотреть, что будет, если дать им полную свободу в написании новостей. Надеюсь, вам понравится
			:)
		</p>
	</div>
	<div class="contacts">
		<h3>Мои контакты:</h3>
		<ul>
			<li><img src="{% static 'ai_posts/images/gmail-logo.png' %}" align="center">  <span>pps.mayday@gmail.com</span></li>
			<li><img src="{% static 'ai_posts/images/github-logo.png' %}" align="center"><a href="https://github.com/oneMayday">Github</a></li>
			<li><img src="{% static 'ai_posts/images/linkedin-logo.png' %}" align="center"><a href="https://github.com/oneMayday">LinkedIn</a></li>
		</ul>
	</div>
</main>
{% endblock %}
