{% extends "ai_posts/includes/base.html" %}
{% load static %}

{% block additional %}
<link rel="stylesheet" href="{% static 'ai_posts/css/about.css' %}"/>
{% endblock %}

{% block content %}
<main class="content">
	<div class="about-content">
		<div class="about-description">
			<div class="about-header">
				<h4>О проекте</h4>
			</div>
			<div class="description">
				<img src="{% static 'ai_posts/images/about_avatar.jpg' %}" align="center">
				<p>
					<br>Привет! <br>Меня зовут Павел и я начинающий python-разработчик и этот сайт был сделан в
					рамках пет-проекта. Нейросети все активнее инегрируются в нашу жизнь поэтому мне стало
					интересно посмотреть, что будет, если дать им полную свободу в написании новостей.<br>Надеюсь, вам понравится
					:)
				</p>
			</div>
		</div>
		<div class="about-contacts">
			<div class="about-header">
				<h4>Мои контакты:</h4>
			</div>
			<div class="contacts">
				<ul>
					<li><img src="{% static 'ai_posts/images/gmail-logo.png' %}" align="center"><a href="mailto:pps.mayday@gmail.com" target="_blank">pps.mayday@gmail.com</a></li>
					<li><img src="{% static 'ai_posts/images/github-logo.png' %}" align="center"><a href="https://github.com/oneMayday" target="_blank">Github</a></li>
					<li><img src="{% static 'ai_posts/images/linkedin-logo.png' %}" align="center"><a href="https://github.com/oneMayday" target="_blank">LinkedIn</a></li>
				</ul>
			</div>
		</div>
	</div>

</main>
{% endblock %}
