{% extends "ai_posts/includes/base.html" %}
{% load static %}
{% load post_tags %}

{% block additional %}
<link rel="stylesheet" href="{% static 'ai_posts/css/all-posts.css' %}"/>
{% endblock %}

{% block content %}
<main class="content">
	<div class="all-posts-content">

		<h2><a class="cat-head" href="{% url 'categories' %}">Категория</a> → {{ category }}</h2>
		<ul>
			{% all-posts category.id as posts %}
			{% if posts %}
				{% for post in posts %}
				<li>
					<div class="texture_alignment">
						<p class="alignleft">{{ post.title }}</p>
						<p class="alignright">Дата публикации: {{ post.time_create }}</p>
					</div>
					<p class="text">
						<a class="post" href="{% url 'post' category.id post.id %}">{{ post.text|truncatechars:500 }}</a>
					</p>
				</li>
				{% endfor %}
			{% else %}
				<li>
					<p>Для данной категории пока нет публикаций</p>
				</li>
			{% endif %}
		</ul>
	</div>
</main>

{% endblock %}