{% extends "ai_posts/includes/base.html" %}
{% load static %}
{% load category_tags %}

{% block additional %}
<link rel="stylesheet" href="{% static 'ai_posts/css/categories.css' %}"/>
{% endblock %}

{% block content %}
{% get_categories as categories %}

<main class="content">
	<div class="categories-content">
		<h2>Категории:</h2>
		<div class="categories-menu">
			<ul>
				{% for cat in categories %}
				<li>
					<a href="{% url 'all_posts' cat.slug %}">
					<div class="cat-header">
						{{cat}}
					</div>
					<div class="cat-image">
						{% with 'ai_posts/images/'|add:cat.slug|add:'.png' as image_static %}
						<img src="{% static image_static %}">
						{% endwith %}
					</div>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</main>
{% endblock %}