{% extends "ai_posts/includes/base.html" %}
{% load static %}
{% load category_tags %}

{% block additional %}
<link rel="stylesheet" href="{% static 'ai_posts/css/categories.css' %}"/>
{% endblock %}

{% block content %}
{% get_categories as categories %}

<main class="content">
	<div class="categories-content">
		<div class="categories-menu">
			<h2>Категории:</h2>
			<ul>
				{% for cat in categories %}
				<li><a href="{% url 'posts' cat.pk %}">{{cat}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</main>
{% endblock %}