{% extends "ai_posts/includes/base.html" %}
{% load static %}

{% block page-css %}
<link rel="stylesheet" href="{% static 'ai_posts/css/contacts.css' %}" media="screen">
{% endblock %}

{% block content %}
<section class="u-clearfix u-section-1" id="sec-ee8b" style="height: 545px;">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h3 class="u-custom-font u-font-oswald u-text u-text-1">Контактная информация:</h3>
        <a href="mailto:pps.mayday@gmail.com"
           class="u-active-none u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-1">
            Email: pps.mayday@gmail.com</a>
        <a href="https://github.com/oneMayday"
           class="u-active-none u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-2">Мой
            гитхаб: ​https://github.com/oneMayday</a>
        <a href="https://github.com/oneMayday"
           class="u-active-none u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-3">LinkedIn:</a>
    </div>
</section>
{% endblock %}
