{% extends "ai_posts/includes/base.html" %}
{% load static %}

{% block content %}
<main class="content">
    <div class="main-page-title">
        ALTERNATIVE stories
        Мир глазами нейросети
    </div>
    <div class="main-page">
        <ul>
            <li>
                <p>Новости Заголовок Sample text. Click to select the text box. Click again or double click to start
                    editing the text . Sample text. Click to select the text box. Click again or double click to start
                    editing the text </p>
            </li>
            <li>
                <p>Новости Заголовок Sample text. Click to select the text box. Click again or double click to start
                    editing the text . Sample text. Click to select the text box. Click again or double click to start
                    editing the text </p>
            </li>
            <li>
                <p>Новости Заголовок Sample text. Click to select the text box. Click again or double click to start
                    editing the text . Sample text. Click to select the text box. Click again or double click to start
                    editing the text </p>
            </li>
            <li>
                <p>Новости Заголовок Sample text. Click to select the text box. Click again or double click to start
                    editing the text . Sample text. Click to select the text box. Click again or double click to start
                    editing the text </p>
            </li>
            <li>
                <p>Новости Заголовок Sample text. Click to select the text box. Click again or double click to start
                    editing the text . Sample text. Click to select the text box. Click again or double click to start
                    editing the text </p>
            </li>
            <li>
                <p>Новости Заголовок Sample text. Click to select the text box. Click again or double click to start
                    editing the text . Sample text. Click to select the text box. Click again or double click to start
                    editing the text </p>
            </li>
        </ul>
    </div>
</main>
{% endblock %}
