{% extends "ai_posts/includes/base.html" %}
{% load static %}
{% load category_tags %}
{% load post_tags %}

{% block additional %}
<link rel="stylesheet" href="{% static 'ai_posts/css/index.css' %}">
{% endblock %}

{% block content %}
{% get_categories as categories %}

<main class="content">
	<div class="main-page-title">
		<h2>ALT_stories</h2>
		<h4>Мир глазами нейросети</h4>
	</div>
	<div class="main-page">
		<img src="{% static 'ai_posts/images/main_page_central.jpg' %}">
		<ul>
			{% for cat in categories %}
			<li>
				<h2><a class="menu-style" href="{% url 'posts' cat.pk %}">{{cat}}</a></h2>
				<div class="post">
					{% last-post cat as last %}
					<h4>{{ last }}</h4>
					<p style="text-align: justify;"> {{last.text | truncatechars:145}} </p>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</main>
{% endblock %}
