{% extends "ai_posts/includes/base.html" %}
{% load static %}

{% block page-css %}
<link rel="stylesheet" href="{% static 'ai_posts/css/mailing.css' %}" media="screen">
{% endblock %}

{% block content %}
<section class="u-align-center u-clearfix u-section-1" id="sec-e02a">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-text u-text-default u-text-1">Подпишитесь на <span style="font-size: 1.5rem;"></span>рассылку!
        </h3>
        <div class="u-align-left u-border-2 u-border-grey-50 u-form u-radius-2 u-form-1">
            <form action="https://forms.nicepagesrv.com/v2/form/process"
                  class="u-clearfix u-form-spacing-14 u-form-vertical u-inner-form" style="padding: 13px;"
                  source="email" name="form">
                <div class="u-form-group u-form-name u-label-top">
                    <label for="name-6797" class="u-label u-label-1">Введите имя:</label>
                    <input type="text" placeholder="Name" id="name-6797" name="name"
                           class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                </div>
                <div class="u-form-email u-form-group u-label-top">
                    <label for="email-6797" class="u-label u-label-2">Введите email:</label>
                    <input type="email" placeholder="Email" id="email-6797" name="email"
                           class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                </div>
                <div class="u-form-group u-form-radiobutton u-label-top u-form-group-3">
                    <label class="u-label u-label-3">Выберите категории:</label>
                    <div class="u-form-radio-button-wrapper">
                        <div class="u-input-row">
                            <input id="field-ce57" type="radio" name="checkbox" value="False" data-calc="False">
                            <label class="u-label u-label-4" for="field-ce57">Новости</label>
                        </div>
                        <div class="u-input-row">
                            <input id="field-dfd1" type="radio" name="checkbox" value="False" data-calc="False">
                            <label class="u-label u-label-5" for="field-dfd1">Бизнес</label>
                        </div>
                        <div class="u-input-row">
                            <input id="field-ccae" type="radio" name="checkbox" value="False" data-calc="False">
                            <label class="u-label u-label-6" for="field-ccae">Наука</label>
                        </div>
                        <div class="u-input-row">
                            <input id="field-2f05" data-calc="False" type="radio" name="checkbox" value="False">
                            <label class="u-label u-label-7" for="field-2f05">Путешествия</label>
                        </div>
                        <div class="u-input-row">
                            <input id="field-dea8" data-calc="False" type="radio" name="checkbox" value="False">
                            <label class="u-label u-label-8" for="field-dea8">Спорт</label>
                        </div>
                        <div class="u-input-row">
                            <input id="field-00b8" data-calc="False" type="radio" name="checkbox" value="False">
                            <label class="u-label u-label-9" for="field-00b8">IT и технологии</label>
                        </div>
                    </div>
                </div>
                <div class="u-align-center u-form-group u-form-submit u-label-top">
                    <a href="#"
                       class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-grey-60 u-radius-20 u-btn-1">Подписаться<br>
                    </a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
                <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then
                    try again.
                </div>
                <input type="hidden" value="" name="recaptchaResponse">
                <input type="hidden" name="formServices" value="fb7f0cb261c53d68d0cf3045ef654464">
            </form>
        </div>
    </div>
</section>
{% endblock %}
