{% extends "ai_posts/includes/base.html" %}
{% load static %}

{% block page-css %}
<link rel="stylesheet" href="{% static 'ai_posts/css/posts.css' %}" media="screen">
{% endblock %}

{% block content %}
<section class="u-align-left u-clearfix u-section-1" id="sec-0a28">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
            <h1 style="text-align: left;">
                <span style="line-height: 2; font-size: 1.875rem;">Sample Headline</span>
            </h1>
            <p style="text-align: left;">
                <span style="line-height: 2.0;">Sample text. Click to select the text box. Click again or double click to start editing the text. Dictum non consectetur a erat nam at. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Tellus mauris a diam maecenas sed enim ut sem. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Pretium nibh ipsum consequat nisl vel pretium. In eu mi bibendum neque egestas congue. Vitae ultricies leo integer malesuada nunc. Nibh praesent tristique magna sit amet purus gravida. Diam volutpat commodo sed egestas. Gravida dictum fusce ut placerat orci nulla pellentesque.</span>
            </p>
            <p style="text-align: left;">
                <span style="line-height: 2.0;">Дата публикации: 03.02.23</span>
            </p>
        </div>
    </div>
</section>
{% endblock %}
