.about-content {
	border-top: 1px #000000;
	border-bottom: 1px #000000;
	display: flex;
	height: 300px;
	width: 70%;
	align-items: top;
	padding-bottom: 40px;
}

.about-content img {
	width: 250px;
	height: 250px;
	align: left;
	border-radius: 50%;
}

.about-content p {
	display: block;
	padding-top: 50px;
	padding-left: 50px;
	font-size: 18px;
	line-height: 35px;
	text-indent: 35px;
}

/* Стили окна контактов */
.contacts-content {
	display: flex;
	height: 100%;
	flex-direction: column;
	flex-wrap: wrap;
	padding-left: 115px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.contacts-content .contacts {
	height: 30%;
	width: 85%;
}

.contacts ul {
	padding-top: 10px;
}

.contacts ul li{
	font-size: 16px;
	padding-top: 20px;
}

.contacts ul li a {
	padding-left: 10px;
}

.contacts ul li span {
	padding-left: 9px;
}