/* Общие настройки страницы */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	list-style: none;
	text-decoration: none;
}

body {
	font-size: 16px;
	color: #111;
}

.page {
	overflow: hidden;
	display: grid;
	grid-template-areas: "header" "content" "footer";
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

/* Стиль внешней оболочки контента */
.content {
	background: #fff;
	display: flex;
	height: 100%;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 20px;
}

/* Стили хедера*/
header {
	position: flex;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 70px;
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 8%;
	border-bottom: 2px solid #000000;
	font-size: 16px;
}

header .header-block {
	width: 90%;
	align-items: center;
}

header .logo {
	font-size: 20px;
	font-weight: 900;
	color: #1E1E1E;
	transition: .5s;
}

/* Стили меню хедера */

header nav ul li {
	position: relative;
	float: left;
}

header nav ul li a {
	padding: 15px;
	color: #1E1E1E;
	display: block;
}

header nav ul li a:hover {
	background: #1E1E1E;
	color: #fff;
	border-radius: 15px;
}

/* Стили футера */
.footer {
	margin-top: auto;
	height: 70px;
	background-color: #1E1E1E;
	padding: 20px;
	color: #fff;
}

.footer-alignleft {
  float: left;
  font-size: 14px;
}

.footer-alignright {
	float: right;
	font-size: 14px;
	padding-top: 5px;
	padding-right: 10px;
	}

.footer-texture_alignment {
	width: 100%;
	height: 10px;
	padding-left:25px;
}
