.contacts-content {
	background: linear-gradient(white, #b3b3b3);;
	display: flex;
	height: 100%;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.contacts-content .contacts {
	height: 30%;
	width: 85%;
}

.contacts ul {
	padding-top: 10px;
}

.contacts ul li{
	font-size: 16px;
	padding-top: 20px;
}

.contacts ul li a {
	padding-left: 10px;
}

.contacts ul li span {
	padding-left: 9px;
}