.mailing-content {
	background: #fff;
	display: flex;
	height: 100%;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.mailing-content h2 {
	padding-bottom: 20px;
}

main h2 {
	margin-bottom: 2px;
}

main form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 250px;
	font-size: 16px;
	border: 2px solid #000;
	border-radius: 20px;
	padding: 15px;
}

main form input{
	display: block;
	margin: 0;
	font-size: 16px;
	height: 25px;
	border: 2px solid #000;
	border-radius: 7px;
}

main form button[type=submit] {
	background: #000;
	color: #fff;
	margin-top: 15px;

	font-size: 16px;
	width: 180px;
	height: 30px;
	border: 2px solid #000;
	border-radius: 15px;
}

main form button[type=submit]:hover {
	background: #1E1E1E;
	color: #fff;
}