.profile-content {
	display: block;
	height: 100%;
	width: 100%;
	flex-direction: column;
	align-item: left;
	padding-left: 115px;
	padding-right:115px;
	padding-bottom: 40px;
}

.profile-content ul {
	padding-top: 20px;
	line-height: 45px;
	font-size: 20px;
	color: #000;
}

.profile-content ul li a {
	color: #000;
}

.profile-content ul li a:hover {
	border-bottom: 2px solid #000;
}
