.profile-content {
	display: block;
	height: 100%;
	width: 100%;
	padding-left: 115px;
	padding-right:115px;
	padding-bottom: 40px;
	color: #1E1E1E;
}

.profile-content ul {
	padding-top: 20px;
	line-height: 45px;
	color: #1E1E1E;
}

.profile-content ul li {
	font-size: 18px;
}

.profile-content ul li a {
	color: #1E1E1E;
}

.profile-content ul li a:hover {
	border-bottom: 2px solid #1E1E1E;
}

.profile-content ul li ul{
	padding-top: 0px;
	padding-bottom: 10px;
}

.profile-content ul li ul li {
	font-size: 16px;
	padding-left: 40px;
}
