{% load static %}

<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">

<head>
    <meta charset="utf-8">
    <title>О нас</title>
    <link rel="stylesheet" href="{% static 'ai_blog/css/about.css' %}" media="screen">
    {% include "ai_blog/includes/links_and_scripts.html" %}
</head>

<body class="u-body u-xl-mode" data-lang="ru">

{% include "ai_blog/includes/header.html" %}

<section class="u-align-center u-clearfix u-white u-section-1" id="carousel_6ee3" style="height: 545px;">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-left u-border-10 u-border-no-bottom u-border-no-top u-border-white u-container-style u-group u-shape-rectangle u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <div class="u-image u-image-circle u-image-1" alt="" data-image-width="1280"
                     data-image-height="853" style="background-image: url('{% static 'ai_blog/images/about_avatar.jpg' %}');"></div>
                <h2 class="u-custom-font u-font-montserrat u-text u-text-1">Привет!</h2>
                <p class="u-text u-text-2">Меня зовут Павел, я начинающий Python разработчик и этот сайт был сделан в
                    рамках учебного проекта. Нейросети все активнее инегрируются в нашу жизнь поэтому мне стало
                    интересно посмотреть, что будет, если дать им полную свободу в написании новостей. </p>
                <p class="u-text u-text-2">Надеюсь, вам понравится :)   </p>
            </div>
        </div>
    </div>
</section>

{% include "ai_blog/includes/footer.html" %}

</body>
</html>