{% load static %}

<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>AI blog - Главная</title>
    <link rel="stylesheet" href="{% static 'ai_blog/css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'ai_blog/css/index.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'ai_blog/js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'ai_blog/js/nicepage.js' %}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">

    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "logo": "images/default-logo.png"
    }</script>

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="index">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>

<body data-home-page="index.html" data-home-page-title="index" class="u-body u-xl-mode" data-lang="ru">

{% include "ai_blog/includes/header.html" %}

<section
        class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-gradient u-section-1"
        data-image-width="2000" data-image-height="1333" id="sec-5e83">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-custom-font u-font-oswald u-text u-text-default u-text-1">AIternative stories</h2>
        <p class="u-text u-text-2">Доброе пожаловать в мир, каким его видит нейросеть</p>
        <div class="u-clearfix u-gutter-20 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-size-21-sm u-size-21-xs u-size-22-lg u-size-22-xl u-size-30-md">
                        <div class="u-layout-col">
                            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
                                <div class="u-border-1 u-border-grey-40 u-border-no-bottom u-border-no-left u-border-no-right u-container-layout u-container-layout-1">
                                    <h3 class="u-text u-text-default u-text-3">Новости</h3>
                                    <p class="u-text u-text-default u-text-4">
                                        <span style="font-size: 1.25rem;">Заголовок</span>
                                        <br>Sample text. Click to select the text box. Click again or double click to
                                        start editing the text .&nbsp;Sample text. Click to select the text box. Click
                                        again or double click to start editing the text&nbsp;
                                    </p>
                                </div>
                            </div>
                            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-20 u-layout-cell-2"
                                 data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                                 data-animation-direction="">
                                <div class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-container-layout u-container-layout-2">
                                    <h3 class="u-text u-text-default u-text-5">Бизнес</h3>
                                    <p class="u-text u-text-default u-text-6">
                                        <span style="font-size: 1.25rem;"> Заголовок</span>
                                        <br>Sample text. Click to select the text box. Click again or double click to
                                        start editing the text .&nbsp;Sample text. Click to select the text box. Click
                                        again or double click to start editing the text&nbsp;
                                    </p>
                                </div>
                            </div>
                            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-20 u-layout-cell-3"
                                 data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                                 data-animation-direction="">
                                <div class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-border-no-top u-container-layout u-container-layout-3">
                                    <h3 class="u-text u-text-default u-text-7">Наука</h3>
                                    <p class="u-text u-text-default u-text-8">
                                        <span style="font-size: 1.25rem;"> Заголовок</span>
                                        <br>Sample text. Click to select the text box. Click again or double click to
                                        start editing the text .&nbsp;Sample text. Click to select the text box. Click
                                        again or double click to start editing the text&nbsp;
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-16-lg u-size-16-xl u-size-19-sm u-size-19-xs u-size-30-md">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-style u-image u-image-default u-layout-cell u-size-60 u-image-1"
                                 src="" data-image-width="1280" data-image-height="853" >
                                <div class="u-container-layout u-valign-top u-container-layout-4" src=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-21-sm u-size-21-xs u-size-22-lg u-size-22-xl u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-5">
                                <div class="u-border-1 u-border-grey-40 u-border-no-bottom u-border-no-left u-border-no-right u-container-layout u-container-layout-5">
                                    <h3 class="u-text u-text-default u-text-9">Путешествия</h3>
                                    <p class="u-text u-text-default u-text-10">
                                        <span style="font-size: 1.25rem;"> Заголовок</span>
                                        <br>Sample text. Click to select the text box. Click again or double click to
                                        start editing the text .&nbsp;Sample text. Click to select the text box. Click
                                        again or double click to start editing the text&nbsp;
                                    </p>
                                </div>
                            </div>
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-6">
                                <div class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-container-layout u-container-layout-6">
                                    <h3 class="u-text u-text-default u-text-11">Спорт</h3>
                                    <p class="u-text u-text-default u-text-12">
                                        <span style="font-size: 1.25rem;"> Заголовок</span>
                                        <br>Sample text. Click to select the text box. Click again or double click to
                                        start editing the text .&nbsp;Sample text. Click to select the text box. Click
                                        again or double click to start editing the text&nbsp;
                                    </p>
                                </div>
                            </div>
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-7">
                                <div class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-border-no-top u-container-layout u-container-layout-7">
                                    <h3 class="u-text u-text-default u-text-13">IT</h3>
                                    <p class="u-text u-text-default u-text-14">
                                        <span style="font-size: 1.25rem;"> Заголовок</span>
                                        <br>Sample text. Click to select the text box. Click again or double click to
                                        start editing the text .&nbsp;Sample text. Click to select the text box. Click
                                        again or double click to start editing the text&nbsp;
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="u-align-center u-text u-text-15">Показалось интересным?&nbsp;<br>Подпишитесь на рассылку новостей!
        </p>
        <a href="{% url 'mailing' %}" class="u-btn u-btn-round u-button-style u-grey-50 u-radius-18 u-text-black u-btn-1">Подписаться</a>
    </div>
</section>

{% include "ai_blog/includes/footer.html" %}

</body>
</html>