{% extends "ai_posts/includes/base.html" %}

{% block content %}
<main class="auth-login-content">
	<h2>Регистрация</h2>
	<form action="{% url 'register' %}" method="POST">
		{% csrf_token %}
		{% for field in form %}
		<div class="form-group">
			{{ field.label_tag }}
			<div>{{ field }}</div>
		</div>
		{% if field.errors %}
		{% for error in field.errors %}
		<div class="error">
			{{ error }}
		</div>
		{% endfor %}
		{% endif %}
		{% endfor %}
		<button type="submit">Зарегистрироваться</button>
	</form>
</main>
{% endblock %}