 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 338px;
}

.u-section-1 .u-group-1 {
  min-height: 278px;
  height: auto;
  width: 1145px;
  margin: 60px -5px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 205px;
  height: 205px;
  object-position: 0% 50%;
  background-image: url("images/571feb4f95c202c1e8a75f3b567de250e4d7c8f9a85554088cd583c1dc8326162647d42cbfff5db41c368d0c2a3881ea7b590c4f41ad44ff4c3f35_1280.jpg");
  background: url('ai_blog/images/about_avatar.jpg" %}');
  background-position: 50% 50%;
  margin: 22px auto 0 22px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: -195px 141px 0 266px;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  margin: 28px 178px 0 266px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-1 .u-group-1 {
    min-height: 502px;
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 39px;
    margin-left: 430px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 76px;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-1 .u-group-1 {
    min-height: 862px;
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    min-height: 791px;
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 30px;
    margin-right: 250px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 70px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}