 {% load static %}

.post-main {
  text-decoration: none;
  color: #000000;
}
.post-main:hover {
  text-decoration: none;
}

.u-section-1 {
  background-image: linear-gradient(white, #b3b3b3);
}

.u-section-1 .u-sheet-1 {
  min-height: 1162px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 68px auto 0;
}

.u-section-1 .u-text-2 {
  width: 681px;
  margin: 12px 230px 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 100%;
  margin: 45px 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 251px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-3 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 16px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 251px;
}

.u-section-1 .u-container-layout-2 {
  border-style: solid;
  padding: 0 29px;
}

.u-section-1 .u-text-5 {
  margin: 12px auto 0 1px;
}

.u-section-1 .u-text-6 {
  margin: 15px 1px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 252px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 29px;
}

.u-section-1 .u-text-7 {
  margin: 12px auto 0 1px;
}

.u-section-1 .u-text-8 {
  margin: 17px -1px 0;
}

.u-section-1 .u-image-1 {
  min-height: 752px;
  background: url('ai_blog/images/main_page_central.jpg" %}');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 253px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-1 .u-text-9 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: 16px 0 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 251px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-1 .u-text-11 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-12 {
  margin: 19px -1px 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-1 .u-text-13 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-14 {
  margin: 16px 0 0;
}

.u-section-1 .u-text-15 {
  width: 340px;
  margin: 59px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  margin: 19px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 130px;
    margin-right: 130px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 176px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 170px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 192px;
  }

  .u-section-1 .u-image-1 {
    min-height: 536px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 178px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 178px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 178px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 770px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 1155px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 727px;
  }
}