{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{% static 'ai_posts/css/base.css' %}">
	{% block additional %}{% endblock %}
	<title>{{title}}</title>
</head>

<body>

<div class="page">
	<header>
		<a href="#" class="logo">LOGO</a>
		<nav>
			<ul>
				<li><a href="{% url 'home' %}">Главная</a></li>
				<li><a href="{% url 'categories' %}">Категории</a>
					<ul>
						{% for cat in categories %}
						<li><a href="{% url 'posts' cat.pk %}">{{cat}}</a></li>
						{% endfor %}
					</ul>
				</li>
				<li><a href="{% url 'mailing' %}">Рассылка</a></li>
				<li><a href="{% url 'contacts' %}">Контакты</a></li>
				<li><a href="{% url 'about' %}">О нас</a></li>
			</ul>
		</nav>
	</header>

	{% block content %}
	{% endblock %}

	<footer class="footer">
		<div class="footer-alignment">
			<p class="footer-alignleft">Все новости и изображения на данном сайте созданы нейросетью <br> и не имеют ничего общего с
				реальностью :)</p>
			<p class="footer-alignright">© by Sazonov Pavel</p>
		</div>
	</footer>
</div>

</body>

</html>
