{% load static %}

<header class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-clearfix u-header"
        id="sec-8180">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="{% url 'home' %}" class="u-image u-logo u-image-1">
            <img src="{% static 'ai_posts/images/default-logo.png' %}" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1" data-position="main menu">
            <div class="menu-collapse"
                 style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
                <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-decoration u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                   href="#">
                    <svg class="u-svg-link" viewBox="0 0 24 24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <rect y="1" width="16" height="2"></rect>
                            <rect y="7" width="16" height="2"></rect>
                            <rect y="13" width="16" height="2"></rect>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-spacing-30 u-unstyled u-nav-1">
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-white u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            href="{% url 'home' %}" style="padding: 10px 0px;">Главная</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-white u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            style="padding: 10px 0px;" href="{% url 'categories' %}">Категории</a>
                        <div class="u-nav-popup">
                            <ul class="u-border-1 u-border-grey-30 u-h-spacing-20 u-nav u-unstyled u-v-spacing-13">
                                <li class="u-nav-item"><a class="u-button-style u-grey-5 u-hover-grey-15 u-nav-link"
                                                          href="{% url 'cat_posts' 1 %}">Новости</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-grey-5 u-hover-grey-15 u-nav-link"
                                                          href="{% url 'cat_posts' 2 %}">Бизнес</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-grey-5 u-hover-grey-15 u-nav-link"
                                                          href="{% url 'cat_posts' 3 %}">Наука</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-grey-5 u-hover-grey-15 u-nav-link"
                                                          href="{% url 'cat_posts' 4 %}">Путешествия</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-grey-5 u-hover-grey-15 u-nav-link"
                                                          href="{% url 'cat_posts' 5 %}">Спорт</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-grey-5 u-hover-grey-15 u-nav-link"
                                                          href="{% url 'cat_posts' 6 %}">IT</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-white u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            href="{% url 'mailing' %}" style="padding: 10px 0px;">Рассылка</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-white u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            href="{% url 'contacts' %}" style="padding: 10px 0px;">Контакты</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-white u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            href="{% url 'about' %}" style="padding: 10px 0px;">О нас</a>
                    </li>

                </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-3">
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="index.html">Главная</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link">Категории</a>
                                <div class="u-nav-popup">
                                    <ul class="u-border-1 u-border-grey-30 u-h-spacing-20 u-nav u-unstyled u-v-spacing-13">
                                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="posts.html">Новости</a>
                                        </li>
                                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="posts.html">Бизес</a>
                                        </li>
                                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="posts.html">Наука</a>
                                        </li>
                                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="posts.html">Путешествия</a>
                                        </li>
                                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="posts.html">Спорт</a>
                                        </li>
                                        <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                                  href="posts.html">IT</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                      href="{% url 'contacts' %}">Контакты</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'about' %}">О
                                нас</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'mailing' %}">Рассылка</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
        </nav>
    </div>
    <style class="u-sticky-style" data-style-id="1c00">.u-sticky-fixed.u-sticky-1c00:before, .u-body.u-sticky-fixed .u-sticky-1c00:before {
border-width: 3px !important; border-color: #000000 !important; borders: bottom !important
}

    </style>
</header>