html, body {
    height: 100%;
    margin: 0;
}
/* Блок заголовка */
.header {
    width: 100%;
    height: 10%;
    background: #000000;
}
/* Блок меню и контента */
.menu_and_content {
    overflow-x:hidden;
    display: flex;
    width:100%;
    height: 80%;
    background: #c2c1bd;
}
.menu_and_content>.menu {
    display: flex;
    width:200px;
    height: 100%;
    background: #a5c0ce;
}

.menu_and_content>.content {
    display: flex;
    flex-flow: wrap;
    align-content: space-between;
    width:100%;
    height: 100%;
    background: #ac8d5f;
}

.blog_record {
    background: #c2c1bd;
    height: 20%;
}

/* Блок футера */
.footer {
    width: 100%;
    height: 10%;
    background: #182033;
}